  <!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home  text-center">
                <img src="~/Assets/User/img/banner-hn-1.png" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider end -->
<!-- collection banner -->
<section class="pb-0 ratio2_1">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part">
                            <img src="~/Assets/User/img/gau-bong-tang-ban-gai-4.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part">
                            <img src="~/Assets/User/img/gau-bong-tang-be-yeu-2.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">Gối ôm dài</h2>
</div>
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">Gấu bông big size</h2>
</div>
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->
<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">Gấu bông và phụ kiện</h2>
</div>
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">Chuột bông</h2>
</div>
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h4>special offer</h4>
    <h2 class="title-inner1">Thỏ bông</h2>
</div>
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="~/Product/Show">
                                    <img src="~/Assets/User/img/trau-ao-sao-2-copy-300x300 (1).jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <button data-toggle="modal" data-target="#addtocart"
                                        title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                </a> <a href="#"
                                        data-toggle="modal" data-target="#quick-view" title="Quick View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </a> <a href="compare.html" title="Compare">
                                    <i class="ti-reload"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>Slim Fit Cotton Shirt</h6>
                            </a>
                            <h4>$500.00</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->